 <head>
 <style>
 .container{
 	text-align: center;
 }
 .center_div{
 	border: 2px solid gray;
 	margin-left: auto;
 	margin-right: auto;
 	width: 90%;
 	background-color: #d0f0f6;
 	text-align: center;
 	padding: 8px;
 	 }
 	 .resume_div{
 	 	border: 2px solid gray;
 	 	background-color: #d0f0f6
 	 }
 	 .bio_div{
 	border: 2px solid gray;
 	margin-left: auto;
 	margin-right: auto;
 	width: 90%;
 	background-color: #F0F8FF;
 	text-align: center;
 	padding: 8px;
 	  

 	 }
 html,body{
 	 	background-image: url(background.JPG);


 }
 
 

</style>
</head>