body {
    background-image: url("/images/background.jpg");
    text-align:center;
    width:100%;
}

div#header {
    background-color:black;
    color:white;
    margin:20px;
    padding-bottom: 10px;
}

h1{
	color: white;
}

p{
	color: white;
}

#image1 {
	width: 20%;
    height: 20%;
}

#image2 {
    width: 20%;
    height: 20%;
}


