body {
    background-image: url("/images/background.jpg");
}
div .header {
    background-color: black;
}

h1{
	color: white;
}

p{
	color: white;
}

#image1 {
	width: 20%;
    height: 20%;
}

#image2 {
    width: 20%;
    height: 20%;
}


