<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Halloween Spectacular: Which Superhero Are You?</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/style.css" th:href="@{/css/style.css}" />

</head>
<body>
	<center>
<h1>Find Your Inner Superhero </h1>
<p> Through this app, you will be able to find your inner superhero, just in time for Halloween!  Submit your photo below to find your match!</p>

<form action="" method="get">
Photo URL: <br> <input type="text" name="url"/> </br>
<input type="submit" value="Submit"/>
</form>

<p th:text="'You are ' + ${hero} + '!'" />
<!--<p th:text="'Original Pic ' + ${originalURL} + '!'" />-->
<!--<p th:text="'Hero Pic ' + ${heroURL} + '!'" />-->
<img src="${originalURL}" alt="Original" width="15" height="15"/>
<img src="${heroURL}" alt="New" width="15" height="15"/>
<img href="${original}"></img>
<img href="${new}"></img>
<center>
</body>
</html>
