<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Halloween Spectacular: Which Superhero Are You?</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/style.css" th:href="@{/css/style.css}" />
</head>

    <body>
    <div id="header">
        <h1>Find Your Inner Superhero </h1>
        <p> Through this app, you will be able to find your inner superhero, just in time for Halloween!  Submit your photo below to find your match!</p>

        <form action="" method="get">
        Photo URL: <br> <input type="text" name="url"/> </br>
        <input type="submit" value="Submit"/>
        </form>

        <p th:text="${hero}"/>
    </div>
        <img id="image1" src="image1.jpg" alt="image"/>
        <img id="image2" src="image2.jpg" alt="image"/>
        <script th:inline="javascript">
            var image=document.getElementById("image1");
            image.src=/*[[${originalURL}]]*/
            var image=document.getElementById("image2");
            image.src=/*[[${heroURL}]]*/
        </script>
    </body>

</html>
