<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Halloween Spectacular: Which Superhero Are You?</title>
</head>
<body>
<h1>Find Your Inner Superhero </h1>
<p> Through this app, you will be able to find your inner superhero, just in time for Halloween!  Submit your photo below to find your match!</p>
<script th:inline="javascript">
document.body.style.backgroundImage = "url('background.jpg')";
document.body.style.opacity=1;
</script>

<form action="" method="get">
Photo URL: <br> <input type="text" name="url"></input> </br>
<input type="submit" value="Submit"></input>

</form>
<p th:text="'Hello, ' + ${url} + '!'" />
</body>
</html>
